.single-wrapper
  %header.single-head
    %h1
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?270352715", alt: "メルカリ"
  %main.single-body
    %section.single-body__inner
      %h2.single-body__inner__registration-head 新規会員登録
      .single-body__inner__registration-form
        .single-body__inner__registration-form__items
          .single-body__inner__registration-form__items__btn-default.single-body__inner__registration-form__items__btn-mail メールアドレスで登録する
          .single-body__inner__registration-form__items__btn-default.single-body__inner__registration-form__items__btn-facebook Facebookで登録する
          .single-body__inner__registration-form__items__btn-default.single-body__inner__registration-form__items__btn-google Googleで登録する
  %footer.single-foot
    %nav
      %ul
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .single-foot__logo
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2927923569", alt: "メルカリ"
    %p © 2019 Mercari

