.edit-content {
  width: 700px;
  height: 100%;
  background-color: white;
  &__header {
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-bottom-color: rgb(245, 245, 245);
  }
  form {
    width: 700px;
    height: 518px;
    .profile-icon {
      width:672px;
      height:60px;
      padding: 72px 14px 24px;
      background-image: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?57038983);
      text-align: center;
      .user-icon {
        border-radius: 50%;
      }
      .user-nickname {
        width: 186px;
        height: 28px;
        padding: 10px 14px 8px;
        margin-left: 8px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
      }
      .user-nickname:focus {
        border: thin solid rgb(0, 81, 255);
        outline: 0;
      }
    }
    .profile-content {
      width: 672px;
      height: 362px;
      padding: 40px 14px;
      textarea {
        resize: vertical;
        width: 652px;
        height: 200px;
        border-color: rgb(204, 204, 204);
        padding: 10px;
      }
      textarea:focus {
        border: thin solid rgb(0, 81, 255);
        outline: 0;
      }
      .profile-content-submit {
        width: 674px;
        height: 48px;
        border: 1px solid rgb(234, 53, 45);
        margin-top: 16px;
        color: white;
        background-color: red;
      }
    }
  }
}