.mypage-nav {
  width: 248px;
  display: block;
  margin-right: 72px;

  &__list {
    font-family: 'FontAwesome';
    width: 100%;
    padding: 16px;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: whitesmoke;
    border-bottom-width: thin;
    &:hover {
      background-color: rgb( 240, 240, 240);
    }
  }

  &__head {
    margin-top: 40px;
    font-size: 16px;
  }

  a {
    position: relative;
    display: block;
    p {
      display: inline;
      font-size: 14px;
      color: black;
      line-height: 1;
    }

    i {
      font-size: 14px;
      content: "\f054"; 
      color: #ccc;
      float: right;
      color: rgb( 204, 204, 204);
      padding-right: 5px;
      &:hover {
        transform: translate( 25%, 0);
        transition-duration: 0.3s;
        transition-property: all;
        color: black;
      }
    }
  }
}