= render "partial/header"

.mypage
  .mypage__title 本人情報の登録
  %form.mypage-form
    %p.mypage-form__message
      お客さまの本人情報をご登録ください。<br>
      登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。

    = link_to '#', class: "mypage-form__link" do
      本人確認書類のアップロードについて
      =fa_icon "chevron-right"

    .mypage-form__group
      %label.mypage-form__label お名前
      %p.mypage-form__value 山田 太郎

    .mypage-form__group
      %label.mypage-form__label お名前カナ
      %p.mypage-form__value ヤマダ タロウ

    .mypage-form__group
      %label.mypage-form__label 生年月日
      %div 1900/00/00

    .mypage-form__group
      %label.mypage-form__label 郵便番号
      %span.mypage-form__arbitrary 任意
      %input.mypage-form__text

    .mypage-form__group
      %label.mypage-form__label 都道府県
      %span.mypage-form__arbitrary 任意
      %select.mypage-form__select
        - SourceArea.all.each do |sourceArea|
          %option
            = sourceArea.name

    .mypage-form__group
      %label.mypage-form__label 市区町村
      %span.mypage-form__arbitrary 任意
      %input.mypage-form__text

    .mypage-form__group
      %label.mypage-form__label 番地
      %span.mypage-form__arbitrary 任意
      %input.mypage-form__text

    .mypage-form__group
      %label.mypage-form__label 建物名
      %span.mypage-form__arbitrary 任意
      %input.mypage-form__text

    %button.mypage-form__submit 登録する

    = link_to '#', class: "mypage-form__link" do
      本人情報の登録について
      =fa_icon "chevron-right"
