.deal-message-content
  %ul.message-items
    %li.message-item
      = link_to '#', class: "message-user" do
        %figure
          %div
            = image_tag 'https://static.mercdn.net/images/member_photo_noimage_thumb.png'
          %figcaption
            = @deal.buyer.nickname
        .message-body
          .message-body--text
          .message-icons
            %time.message-icon-left
              %i.far.fa-clock
              %span
                2時間前
          %i.icon