%footer.footer
	%nav.footer__content
		.footer__content__cell
			%h2.footer__content__cell__head
				メルカリについて
			%ul
				%li
					%a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
				%li
					%a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
				%li
					%a{:href => "https://about.mercari.com/press/news/"} プレスリリース
				%li
					%a{:href => "https://jp-news.mercari.com/"} 公式ブログ
				%li
					%a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
				%li.footer__content__cell--social-link
					%a{:href => "https://twitter.com/mercari_jp"}
						%i.icon-twitter
				%li.footer__content__cell--social-link
					%a{:href => "https://www.facebook.com/mercarijp"}
						%i.icon-facebook
		.footer__content__cell
			%h2.footer__content__cell__head
				ヘルプ＆ガイド
			%ul
				%li
					%a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
				%li
					%a{:href =>"https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
				%li
					%a{:href => "https://www.mercari.com/jp/yuyu-mercari/"}	ゆうゆうメルカリ便
				%li
					%a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
				%li
					%a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
				%li
					%a{:href => "https://www.mercari.com/jp/safe/description/"} メルカリあんしん・あんぜん宣言！
				%li
					%a{:href => "https://www.mercari.com/jp/authenticity/"}	偽ブランド品撲滅への取り組み
				%li
					%a{:href => "https://www.mercari.com/jp/box/"}	メルカリボックス
		.footer__content__cell.footer__policy
			%h2.footer__content__cell__head
				プライバシーと利用規約
			.footer__content__cell__inner
				%ul
					%li
						%a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
					%li
						%a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
					%li
						%a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
					%li
						%a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
			.footer__content__cell__inner
				%ul
					%li
						%a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
					%li
						%a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
					%li
						%a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
					%li
						%a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
		.footer__content__cell.footer__lang
			%h2.footer__content__cell__head
				国
			%ul
				%li
					%a{:href => "https://www.mercari.com/jp/"} 日本
				%li
					%a{:href => "https://www.mercari.com/"} United States
					
	.footer__bottom
		%a.footer__bottom__logo{:href => "https://www.mercari.com/jp/"}
			%img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?891577966"}
		%span.footer__bottom__copyright
			%small © 2019 Mercari
		