.middle-tab
  .middle-tab__notification-todo
    .middle-tab__notification-todo__notification
      お知らせ
    .middle-tab__notification-todo__todo
      やることリスト
  .middle-tab__content
    現在、お知らせはありません
    