.mypage__header
	= render 'partial/header'
	= render 'partial/bread-crumbs'

%main.deal-container
	.deal-container__content
		%section.deal-chapter
			%h2.deal-chapter--head
				取引画面
			.deal-chapter--transact-attention
	.deal-container__side-bar

%aside.app-banner
	= render partial: 'items/bottom-banner'
.mypage__footer
	= render 'partial/footer'