.single-wrapper {
  .mail-head {
    height: 128px;
    text-align: center;

    h1 {
      margin: 40px 0 0;
      display: inline-block;

      a {
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;

        img {
          width: 185px;
          height: 49px;
        }
      }
    }

    &__progress-point {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;

      ol {
        margin: 0;
        list-style: none;
        position: relative;

        li {
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          color: #888;

          &:last-child {
            margin: 0;
          }
        }

        .through {
          .progress-status-first {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;

            &:after {
              background: #ea352d;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
            }
          }

          .progress-status-first2 {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;

            &:before {
              right: 50%;
              background: #ea352d;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
            }

            &:after {
              background: #ea352d;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
            }
          }
        }

        .current {
          font-weight: 600;
          color: #ea352d;

          .progress-status-first {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;

            &:after {
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
              background: #ccc;
            }
          }
        }

        .current2 {
          font-weight: 600;
          color: #ea352d;

          .progress-status-second {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;

            &:before {
              right: 50%;
              background: #ea352d;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
            }

            &:after {
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
              background: #ccc;
            }
          }
        }

        .current3 {
          font-weight: 600;
          color: #ea352d;

          .progress-status-last {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;

            &:before {
              right: 50%;
              background: #ea352d;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
            }
          }

          .progress-status-second {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;

            &:before {
              right: 50%;
              background: #ea352d;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
            }

            &:after {
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
              background: #ccc;
            }
          }
        }

        .last {
          .progress-status-last {
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;

            &:before {
              right: 50%;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              display: block;
              content: '';
              width: 100%;
              height: 2px;
              background: #ccc;
            }
          }
        }

        .progress-status {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;

          &:after {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }

          &:before {
            right: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
      }
    }

    &__signup-point {
      padding: 40px 0 0 44px;
      border: 0;
    }
  }

  .mail-view {
    height: 100%;
  }

  .single-body {

    .single-body__inner {
      &__registration-form {
        padding: 40px 40px 64px;

        &__banner {
          display: block;

          &__pc {
            width: 100%;
            display: inline;
          }
        }

        &__content {
          max-width: 343px;
          margin: 0 auto;

          p {
            margin: 8px 0 0;
            line-height: 1.5;
          }

          .done-view {
            margin: 0;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;

            &:first-child {
              margin: 0;
              padding: 0;
            }
          }

          &__btn-red {
            margin-top: 32px;
            padding: 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }

          .last {
            font-size: 16px;
          }

          &__form {
            margin-top: 32px;


            &____has-error-text {
              color: #ea352d;
              line-height: 1.5;
              font-size: 14px;
            }

            &__card-list {
              margin: 8px 0 0;
              font-size: 0;

              li {
                display: inline-block;
                margin: 0 0 0 8px;
                vertical-align: middle;

                &:first-child {
                  margin: 0;
                }

                img {
                  height: 20px;
                }
              }
            }


            &__left-text {
              font-size: 16px;
            }

            &__single-text {
              margin: 8px 0 0;
              line-height: 1.5;
            }

            &__center-text {
              text-align: center;
            }

            &__right-text {
              text-align: right;

              .icon-right {
                font-weight: bold;
                font-size: 17px;
              }
            }

            &:first-child {
              margin: 0;
            }

            label {
              font-weight: 600;
              display: inline-block;
            }

            &__select-wrap {
              margin: 8px 0 0;
              position: relative;
              background: #fff;

              &__select-default {
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                -webkit-appearance: none;
              }
            }

            &__require {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }

            &__signup-seqcode {
              position: relative;
              margin: 8px 0 0;

              &__text {
                text-align: right;
                color: #0099e8;

                &__question {
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  border-radius: 50%;
                  background: #0099e8;
                  color: #fff;
                  line-height: 14px;
                  font-size: 12px;
                  text-align: center;
                }
              }
            }

            &__select-wrap-half {
              width: calc(50% - 2px);
              display: inline-block;
              margin: 8px 0 0;
              position: relative;
              background: #fff;

              .icon-down {
                font-weight: bold;
                font-size: 25px;
                margin: 0 6px 0 -15px;
                position: relative;
                top: 16px;
                pointer-events: none;
                right: 16px;
                z-index: 2;
                color: #888;
                transform: translate(0, -50%);
              }

              select {
                width: calc(100% - 38px);
              }

              &__default {
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                -webkit-appearance: none;
              }
            }

            &__has-error-text {
              color: #ea352d;
              line-height: 1.5;
              font-size: 14px;
            }

            &__arbitrary {
              background: #ccc;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }

            &__default {
              box-sizing: border-box;
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }

            &__default-half {
              margin: 8px 0 0;
              box-sizing: border-box;
              width: calc(50% - 6px);
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;

              &:first-of-type {
                margin-right: 8px;
              }
            }

            &__birthday-box {

              select {
                -webkit-appearance: none;
              }

              &__single {
                width: 76px;
                margin: 8px 0 0;
                position: relative;
                background: #fff;
                display: inline-block;

                .icon-down {
                  font-weight: bold;
                  font-size: 25px !important;
                  top: 50%;
                  z-index: 2;
                  color: #888;
                  font-size: 8px;
                  right: 12px;
                  position: absolute;
                  line-height: 1;
                  -webkit-font-smoothing: antialiased;
                  transform: translate(0, -50%);
                }

                &__select {
                  padding: 0 10px;
                  width: 100%;
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                }


              }

              span {
                margin: 0 2px;
              }

              &__month {}
            }

            .form-text {
              margin: 8px 0 0;
              line-height: 1.5;
              color: #888;
            }
          }
        }
      }
    }
  }
}
