.main-content {
  background-color: white;
  height: 100%;
  &--banner {
    height: 390px;
    background-color: #B00100;
  }

  &__pick-up {
    height: 100%;
    background-color: #f5f5f5;
    padding: 40px 0;
    &--top {
      font-size: 28px;
      text-align: center;
    }
    &__items-box-container {
      margin: 0 auto;
      width: 940px;
      &--top {
        font-size: 22px;
        margin: 26px 11px;
      }
    }
    &__items-box-content {
      width: 940px;
      height: 448px;
      margin: 0 auto;
      .items-box {
        background-color: #fff;
        margin: 0 0 0 20px;
        width: 213px;
        position: relative;
        float: left;
        a {
          text-decoration: none;
        }
        figure {
          width: 213px;
        }
        .items-box__photo {
          height: 220px;
          position: relative;
          overflow: hidden;
          image {
            position: absolute;
            width: 100%;
          }
        }
        .items-box__body {
          padding: 16px;
          height: 100px;
          &__name {
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            margin: 0;
            padding: 0;
          }
          &__num {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 8px 0 0;
            &--price {
              font-size: 17px;
            }
          }
        }
      }
    }
  }

  .text-center {
    text-align: center;
  }

  a {
    color: #0099e8;
    text-decoration: none;
  }

  section {
    display: block;
  }

  .font-2 {
    font-size: 16px;
    color: #333;
  }

  .font-5 {
    font-weight: 600;
    color: #333;
  }
}

