.main {
  display: block;
  &__item-container {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    &__sell-container {
      display: block;
      &__display-inner {
        display:block;
        &__head {
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
        }
        &__sell-form {
          border-top: 1px solid #eee;
        }
      .form-require {
        background: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
    }
      .sell-upload-box {
        width: 620px;
        padding: 40px;
        &__head {
          font-size: 16px;
        }
        p {
          margin: 8px 0 0;
          line-height: 1.5;
        }
        .sell-dropbox-container {
          display: block;
          width: 620px;
          margin: 16px auto 0;
          .sell-upload-items-container {
            display: inline;
            .sell-upload-items {
              float: left;
              display: block;
              ul {
                width: 100%;
              }
            }
          }
          .sell-upload-dropbox {
            position: relative;
            min-height: 162px;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            font-size: 0;
            text-align: center;
            cursor: pointer;
            .fas.fa-camera {
              display: none;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 14px;
            }
          }
          .have-item-0 {
            width: 100%;
            margin-left: 0;
          }
          .sell-upload--drop-file {
            height: 100%;
            width: 100%;
          }
          pre {
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 0.5;
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
          .visible-pc {
            display: block;
          }
        }

      }
      .sell-content {
        padding: 40px;
        border-top: 1px solid #eee;
        position: relative;
        .form-question {
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #0099e8;
          color: #fff;
          line-height: 14px;
          font-size: 12px;
          text-align: center;
        }
        .form-group:first-child {
          margin: 0;
        }
        .form-group label {
          font-weight: 600;
        }
        .form-group
        .input-default {
          width: 99%;
          margin: 8px 0 0;
        }
        .input-default {
          height: 28px;
          padding: 10px 0 10px 12px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        .form-group {
          margin: 40px 0 0;
        }
        .form-group
        label + .textarea-default {
          margin: 8px 0 0;
        }
        .textarea-default {
          display: block;
          width: 97%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          border-radius: 4px;
          font-size: 16px;
          line-height: 1.5;
        }
        .sell-sub-head {
          float: left;
          color: #888;
          font-size: 14px;
        }
        .sell-form-box {
          float: right;
          width: 400px;
          margin: 0;
          .sell-price {
            list-style: none;
          }
          .form-group 
          .select-wrap {
            margin: 8px 0 0;
            position: relative;
            .fa.fa-angle-down {
              position: absolute;
              right: 16px;
              top: 50%;
              color: #888
            }
          }
          .sell-price>li:first-child {
            padding: 0 0 24px;
            border: 0;
          } 
          .sell-price .form-group .l-left {
            width: 50%;
            line-height: 48px;
          }
          .l-left {
            float: left;
          }
          .sell-price .form-group .l-right {
            width: 50%;
          }
          .l-right {
            float: right;
          }
          .sell-price-input>div {
            display:inline-block;
            width: 80%;
            margin: 0 0 0 5%;
          }
          .sell-price.input-default {
            margin: 0;
            text-align: right;
          }
          .sell-price-input .input-default {
            text-align: right;
          }
          .sell-price>li {
            padding: 24px 0;
            border-top: 1px solid #ccc;
          }
          .sell-price .clearfix.bold .l-left {
            font-size: 16px;
            font-weight: 600;
          }
          .sell-price .clearfix.bold .l-right {
            float: right;
            font-size: 34px;
          }
        }
        .form-group select {
          width: 100%;
        }
        .select-default {
          z-index: 2;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #ffffff;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
        }
        select {
          -webkit-appearance: none;
        }
      }
      .clearfix::after {
        content: "";
        display: block;
        clear: both;
      }
      .sell-content.sell-btn-box p {
        line-height: 1.5;
      }
      .btn-gray {
        width: 45%;
        margin: 24px auto 0;
      }
      .btn-gray {
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
      }
    }
  }
}
