.sell-upload-item:first-child {
  margin-left: 0;
}
.sell-upload-item {
  width: 112px;
  margin: 0 0 10px 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.sell-upload-figure.landscape {
  line-height: 116px;
}
.sell-upload-figure {
  width: auto;
  padding: 0;
  height: 116px;
  overflow: hidden;
  background: #f5f5f5;
}
.sell-upload-figure img {
  top: 50%;
  left: 0;
  width: 100%;
  cursor: default;
  position: static;
  transform: none;
}
.sell-upload-button {
  font-size: 14px;

  a {
    float: left;
    display: inline-block;
    width: 50%;
    background: #f5f5f5;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    color: #0099e8;
  }
}