%section.main-content--banner
  .main-content--banner__outer
    .main-content--banner__inner{:style => "width: 11724px;"}
      .main-content--banner__inner__feature--item{:style => "width: 1954px;"}
        %a.top--banner.banner--camp{:href => "/jp/featured/camp/"}
      .main-content--banner__inner__feature--item{:style => "width: 1954px;"}
        .main-content--banner__inner__feature--item__top--main--visual
          %div
          
        #sp-top.visible--sp
      .main-content--banner__inner__feature--item
      .main-content--banner__inner__feature--item
      .main-content--banner__inner__feature--item
      .main-content--banner__inner__feature--item
  .main-content--banner__navigation--cursor
  .main-content--banner__navigation--dots