.app-banner__pc
  .app-banner__pc__inner
    %h2 スマホでかんたんフリマアプリ
    %p 今すぐ無料ダウンロード！
    .app-banner__pc__inner__icon.clearfix
      %figure
        %img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2927923569"}
      %ul
        %li
          %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"}
            %img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2927923569"}
        %li
          %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"}
            %img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2927923569"}
  %figure
    %img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2927923569"}