%section.main-content__pick-up__items-box-content.clearfix
	- items.each do |item|
		%section.items-box
			%a{:href => "#"}
			%figure.items-box__photo
				= image_tag item.item_images.first.image.to_s
			.items-box__body
				%h3.items-box__body__name.font-2
					= item.name
				.items-box__body__num
					.items-box__body__num--price.font-5
						= number_to_currency item.price, :unit => "¥", :precision => 0
					%i.icon-like-border.font-2