%section.main-content--banner
  .main-content--banner__outer
    .main-content--banner__inner
      .main-content--banner__inner__feature--item
        .main-content--banner__inner__feature--item__top-main-visual
          %div
            .top-main-visual__content
              %h2
                スマホでかんたん
                %br
                  フリマアプリ
              %p
                メルカリはスマホカメラからすぐに出品できる
                %br
                  購入時も安心な独自システムのアプリです
              .top-main-visual__content__store
                %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"}
                  = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2927923569', id: 'app'
                %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"}
                  = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2927923569', id: 'google'
            = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?891577966'