%main.main_container
	%section.main_container_top
	%section.main_container_pick-up
		%h2.main_container_pick-up_head
			ピックアップカテゴリー
		%section.main_container_pick-up_items-box-container.clearfix
		%section.main_container_pick-up_items-box-container.clearfix
		%section.main_container_pick-up_items-box-container.clearfix
	
	%section.main_container_top
	%section.main_container_pick-up
		%h2.main_container_pick-up_head
			ピックアップカテゴリー
		%section.main_container_pick-up_items-box-container.clearfix
		%section.main_container_pick-up_items-box-container.clearfix
		%section.main_container_pick-up_items-box-container.clearfix

%aside.app-banner
	.app-banner_for_pc